* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navition bar styling */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #0f1111;
    color: white;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .navbar {
        height: 110px;
        background-color: #8ddddc;
        background-image: linear-gradient(to right, #8ddddc, #a4e6cf);
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}

@media only screen and (max-width: 1024px) {
    /* Styles for tablet devices */
    .navbar {
        height: 110px;
        background-color: #0f1111;;
        position: sticky;
        top: 0;
        z-index: 1000;
   
}
}


/* Amazon logo */
.nav-logo {
    height: 50px;
    width: 100px;
    border: 1.5px solid transparent;
    padding-top: 12px;
}


.hover:hover {
    border: 1.5px solid white;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .hover:hover {
        border: none;
    }
}

.logo {
    background-image: url(../media/trashifylogo.png);
    mix-blend-mode: lighten;
    height: 200px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .logo {
        background-image: none;
    }
}



/* Amazon delivery location */
.nav-address {
    border: 1.5px solid transparent;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .nav-address {
        display: none;
    }
}

.nav-address:hover {
    border: none;
}

.add-icon {
    display: flex;
    align-items: center;
}

.add-text {
    margin-left: 15px;
    font-size: 0.85rem;
}


.add-location {
    font-size: 1rem;
    margin-left: 3px;
}

/* Amzon searchbar */
.nav-search {
    display: flex;
    height: 50px;
    width: 50vw;
    border: 2px solid transparent;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .nav-search {
        width: 695%;
        max-width: none;
        margin-right: 15px;
        margin-top: 0px;
        border: 1px solid grey;
        box-shadow: 2px 2px 5px grey;
        display: flex;
        position: sticky;

    }

}

.nav-search:hover {
    border: 2px solid orange;
    border-radius: 6px;
}

#search-dropdown {
    text-align: center;
    background-color: #f3f3f3;
    width: 8%;
    border: none;
    border-radius: 4px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    #search-dropdown {
        display: none;
    }
}

.search-input {
    font-size: 1.1rem;
    padding-left: 6px;
    border: none;
    width: 100%;
}


.search-submit {
    font-size: 16px;
    background-color: #fcb02c;
    width: 7%;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .search-submit {
        background-color: #f3f3f3;
    }
}

.search-submit:hover {
    background-color: #ed9c0f;
    cursor: pointer;
}

/* Amazon signin and returns & orders option */
.nav-login {
    border: 1.5px solid transparent;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .nav-login {
        display: none;
    }
}

.nav-order {
    border: 1.5px solid transparent;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .nav-order {
        display: none;
    }
}

span {
    font-size: 0.8rem;
}

.bold {
    font-weight: 700;
}

/* Amazon cart option */
.nav-cart {
    display: flex;
    border: 1.5px solid transparent;
}

.nav-cart i {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .nav-cart {
        display: none;
    }
}

/* Panel styling */
.panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222f3d;
    color: white;
    height: 50px;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .panel {
        background-color: #c3eee6;
    }
}

.panel-all {
    width: 5%;
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .panel-all {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .panel-all i {
        display: none;
    }
}


.panel-anchor {
    width: 75%;
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .panel-anchor {

        margin-left: -115px;
    }
}

.panel a {
    color: white;
    text-decoration: none;
    padding-left: 8px;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .panel a {
        color: black;

    }
}

a:hover {
    color: #fcb02c;
}

.panel-shop {
    font-size: 0.85rem;
    font-weight: 650;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .panel-shop {
        display: none;
    }
}

/* hero section */
.hero-section {
    position: relative; 
    background-image: url('../media/trashifyheader.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hero-text {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 80px; 
    font-weight: bolder;
    text-align: center; 
    white-space: nowrap; 
    padding: 0 20px; 
}
@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .hero-text {
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        font-size: 40px; 
        font-weight: bolder;
        text-align: center; 
        white-space: nowrap; 
        padding: 0 20px; 
    }
}

.hero-subtext {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 30px; 
    font-weight: 200;
    text-align: center; 
    white-space: nowrap; 
    padding: 0 20px; 

}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .hero-subtext {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 20px; 
    font-weight: 200;
    text-align: center; 
    white-space: nowrap; 
    padding: 0 20px; 
    }
}






@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .hero-section {
        grid-template-columns: 1fr 1fr;
        /* Two columns for mobile view */
    }
}



/* Main content */
.content {
    padding: 15px;
    background-color: #e2e7e6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;

}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .content {
        grid-template-columns: 1fr 1fr;
       
    }
}



.box {
    /* box-shadow: 1px 1px 5px black; */
    background-color: white;
    color: black;
    height: 400px;
    padding: 15px;
    max-width: 400px;
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .box {
        grid-template-columns: 1fr 1fr;
        background-color: white;
        color: black;
        height: 300px;
        padding: 15px;
    }
}



.box a {
    text-decoration: none;
    color: rgb(48, 111, 131);
}

.box a:hover {
    color: #ed9c0f;
}

.box-img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    
}





@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .box-img {
        grid-template-columns: 1fr 1fr;
       


    }
}

.box1-img {
    background-image: url(../media/allstock.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 5px;
    /* width:90% */
}

.box2-img {
    background-image: url(../media/waterbottlestock.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 5px;
    /* width:90% */
}

.box3-img {
    background-image: url(../media/thankyoustock.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 5px;
    /* width:90% */
}

.box4-img {
    background-image: url(../media/togostock.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 5px;
    /* width:90% */
}

.box5-img {
    background-image: url(../media/coffeecupstock.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 5px;
    /* width:90% */
}

.box6-img {
    background-image: url(../media/foodstock.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 5px;
    /* width:90% */
}

.box7-img {
    background-image: url(../media/foodwraperstock.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 5px;
    /* width:90% */
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .box7 a:last-of-type {
        display: none;
    }
}

.box8-img {
    background-image: url(../media/aluminumstock.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 5px;
    /* width:90% */
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .box8 a:last-of-type {
        display: none;
    }
}

/* Amazon bottom panel or Footer */
.to-top {
    height: 40px;
    background-color: #354a63;
    color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-bar {
    background-color: #232f3e;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.foot-bar a {
    color: #dddddd;
    text-decoration: none;
    font-size: 12px;
}

.foot-bar li {
    list-style: none;
}

.foot-logo {
    /* border-top: 0.2px solid white; */
    background-color: #131a22;
    color: #dddddd;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

hr {
    border: 1px solid #dddddd21;
}
 


@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .foot-bar {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .foot-logo{
        background-color: #c3eee6;
        color: black;
        height: 70px;
       
       
    }
}
@media only screen and (max-width: 768px) {

    /* Styles for mobile devices */
    .to-top{
        color: black;
        background-image: linear-gradient(to right, #8ddddc, #a4e6cf);
    }
}