@import "normalize.css";

@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family:  "Geist Sans", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
	font-weight: 140;
  
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.section {
  width: 100vw;
  
  &.-a {
    font-size: 6vw;
    height: 100vh;
    background-color: #CCFF66;
  }
  &.-b {
    color: #001514;
    height: 500vh;
    position: relative;
    background-color: #4E6E58;
  }
  &.-c {
    font-size: 2vw;
    font-weight: 100;
    height: 100vh;
    color: #fff;
    background-color: #001514;
    
    a {
      font-size: 16px;
      opacity: .3;
      color: #fff;
      display: block;
    }
  }
  &__horizon {
    top: 0;
    position: sticky;
    width: 100%;
    height: 100vh;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    
    &::-webkit-scrollbar {
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #CCFF66;
    }
    &::-webkit-scrollbar-thumb {
      background: #000;
    }
    
    &-block {
      width: 100vw;
      flex: 0 0 auto;
      left: 0;
      position: sticky;
      
      > div {
        width: 100%;
        height: 100%;
        font-size: 6vw;
        display:flex;
        align-items: center;
        justify-content: center;
      }
      
      > span {
        font-size: 4vw;
        writing-mode: vertical-lr;
        padding: 1vw;
      }
      
      &:nth-child(2) {
        left: 10vw;
        background-color: #BCAA99;
      }
      &:nth-child(3) {
        left: 20vw;
        background-color: #645986;
      }
      &:nth-child(4) {
        left: 30vw;
        background-color: #BCAA99
      }
      &:nth-child(5) {
        background-color: #CCFF66
      }
    }
  }
  &__text {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    gap: .5rem;
  }
}